<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reese's Book-Pieces</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    <h1>Current selection of books:</h1>
    <label for="search">Search by author or book, or pick a book from the list below:</label>
    <input id="search" name="search" type="text">
    @foreach(var book in Model)
    {
      <li><a href='/books/@book.GetId()'>@book.GetTitle()</a></li>
    }

    <a href="/">Return to home</a>
    <a href="/authors">View authors</a>
  </body>
</html>
