<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reese's Book-Pieces</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    Add a title or author here:
    <form action="/librarian" method="post">
      <input id="" name="" type="hidden" value="@Model">
      <label for="title">Add a title:</label>
      <input id="title" name="title" type="text">
      <button type="submit">Add this title</button>
    </form>

    <form action="/authors" method="post">
      @* <input id="" name="" type="hidden" value="@Model"> *@
      <label for="author">Add an author:</label>
      <input id="author" name="author" type="text">
      <button type="submit">Add this author</button>
    </form>

    Search for a book or author to update or delete:
    <form action="/librarian/search/book{id}" method="post">
      <label for="search"></label>
      <input type="search" name="search">
      <button submit="btn-light">Search for a book</a></button>
    </form>

    <br>
    <br>

  <button class="btn-light"><a href="/">Back to home</a></button>
  <button class="btn-light"><a href="/books">View current selection of titles</a></button>
  <button class="btn-light"><a href="/authors">View current selection of authors</a></button>

  </body>
</html>
