@using Library.Models;

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Reese's Book-Pieces</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>

<p>Book: @Model.GetTitle() </p>
<p>Add Author:</p>
<select name="selectAuthor">
  @foreach(Author author in Author.GetAll())
  {
    <option value="author.GetName()"></option>
  }
</select>

@* book title *@




<button type="button" name="button">Delete</button>
<button type="button" name="button">Update</button>
<button type="button" name="button">Cancel</button>

<a href="/">GO HOME</a>
<a href="/librarian">Back To Librarian Page</a>
<a href="/books">View list of books</a>



</body>
</html>
