<p>book</p>
<p>description</p>

@* book title *@




<button type="button" name="button">Delete</button>
<button type="button" name="button">Update</button>
<button type="button" name="button">Cancel</button>

<a href="/">GO HOME</a>
<a href="/librarian">Back To Librarian Page</a>
<a href="/books">View list of books</a>
