<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reese's Book-Pieces</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
  </head>
  <body>
    <div class="libphoto">
  <center><img src="~/img/books.jpg" class="libphoto" alt="books on the beach image"></center>
</div>

    <div class="container">

      <h1>Reese's Book-Pieces</h1>
      <a href="/librarian" class= "btn btn-dark">I am a librarian!</a>
      <a href="/patron" class="btn btn-dark">I am a patron!</a>
    </div>
  </body>
</html>
