@* <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reese's Book-Pieces</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
    Add a book:
    <form action="/librarian" method="post">
      <input id="" name="" type="hidden" value="@Model">
      <label for="author">Add an author:</label>
      <input id="author" name="author" type="text">

      <button type="submit">Add this author</button>
    </form>
    Search for an author to update or delete:
    <form action="/librarian/search/author{id}" method="post">
      <label for="search"></label>
      <input type="search" name="search">
    </form>
  <a href="/">Back to home</a>
  <a href="/librarian/search">Search for a book</a>
  <a href="/books">View current selection of books</a>

  </body>
</html> *@
